@font-face {
  font-family: BrandonText-Black;
  src: url("./fonts/BrandonText-Black.otf") format("opentype"); }
@font-face {
  font-family: BrandonText-Bold;
  src: url("./fonts/BrandonText-Bold.otf") format("opentype"); }
@font-face {
  font-family: BrandonText-Light;
  src: url("./fonts/BrandonText-Light.otf") format("opentype"); }
@font-face {
  font-family: BrandonText-Medium;
  src: url("./fonts/BrandonText-Medium.otf") format("opentype"); }
body {
  font-family: BrandonText-Medium;
  font-size: 20px; }

h2, h3 {
  font-family: BrandonText-Black;
  text-align: center;
  color: #ada054; }

a {
  font-family: BrandonText-Black; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 20px; }

.line {
  width: 50px;
  height: 3px;
  background: #ada054;
  margin: auto;
  margin-top: 16px; }

.big-bg {
  background: url("../images/09.png") no-repeat center;
  height: 493px;
  background-size: cover;
  position: relative; }
  .big-bg .logo {
    margin: 40px 0 0 40px;
    width: 300px; }
  .big-bg .text {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 35px;
    background: rgba(0, 0, 0, 0.7); }

.thanks {
  background: url("../images/12.png") no-repeat center;
  background-size: cover;
  text-align: left;
  padding-bottom: 40px; }
  .thanks h2 {
    text-align: left;
    font-size: 36px; }
  .thanks .logo {
    margin: 50px 0 40px 0px;
    width: 300px; }
  .thanks .team {
    font-family: BrandonText-Black; }

.how-it-work h2 {
  margin-top: 60px; }
.how-it-work .line {
  margin-bottom: 65px; }
.how-it-work .points {
  margin-top: 60px; }
.how-it-work .round {
  width: 76px;
  height: 76px;
  border: 4px solid #ada054;
  color: #ada054;
  font-size: 40px;
  border-radius: 50%;
  display: block;
  padding: 5px 0 0 24px;
  margin: auto;
  font-family: BrandonText-Bold; }
.how-it-work p {
  text-align: center;
  margin: 25px 0 0 0; }
.how-it-work .get-started {
  margin: 89px 0 83px; }

a.button {
  font-size: 30px;
  color: white;
  background: black;
  padding: 10px 56px; }

.consultants {
  background: black;
  border-top: 15px solid #ada054;
  border-bottom: 15px solid #ada054;
  padding-bottom: 70px; }
  .consultants .line {
    margin-bottom: 80px; }
  .consultants h2 {
    margin-top: 60px; }
  .consultants p {
    margin: 25px 0 10px 0;
    color: white; }
  .consultants a {
    color: #ada054;
    text-decoration: underline; }

.private, .workshops {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 15px solid #ada054; }
  .private .line, .workshops .line {
    margin-bottom: 43px; }
  .private .learn-more, .workshops .learn-more {
    margin: 53px 0 0 0; }

.private {
  padding-top: 80px;
  padding-bottom: 70px;
  background-image: url("../images/10.png"); }

.workshops {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/11.png"); }
  .workshops p {
    color: white; }
  .workshops a.button {
    color: white;
    background: #ada054; }

.follow-us {
  padding: 40px 0 60px; }
  .follow-us .line {
    margin-bottom: 70px; }
  .follow-us .images {
    margin-bottom: 65px; }
    .follow-us .images img {
      margin: 30px; }

.survey {
  border-top: 15px solid #ada054; }
  .survey h2 {
    margin: 40px 0 10px 0; }
  .survey .submit {
    padding: 40px 0 60px 0; }
  .survey .form-group {
    margin-top: 30px; }
  .survey label {
    margin-bottom: 15px; }
  .survey .error {
    color: red;
    display: block; }

.footer {
  background: black;
  padding: 60px 0 50px 0;
  color: white; }
  .footer .links {
    color: #ada054; }
    .footer .links a {
      color: #ada054;
      margin: 0 50px 0 50px; }
  .footer .images {
    padding: 40px 0 30px 0; }
    .footer .images .middle {
      margin: 0 60px 0 60px; }
    .footer .images img {
      width: 50px; }
  .footer p {
    font-family: BrandonText-Light; }

/*# sourceMappingURL=main.css.map */
