$color: #ada054;
$line-height-pc: 15px;
$line-height-mobile: 8px;

// Import the fonts
@each $font in BrandonText-Black, BrandonText-Bold, BrandonText-Light, BrandonText-Medium {
  @font-face {
    font-family: $font;
    src: url('./fonts/#{$font}.otf') format("opentype");
  }
}

@font-face {
  font-family: 'Single Product Webicons Regular';
  src: url("//cdn.shopify.com/s/files/1/1039/4154/t/11/assets/singleproductwebicons-regular.eot?12102901345360845545");
  src: url("//cdn.shopify.com/s/files/1/1039/4154/t/11/assets/singleproductwebicons-regular.eot?%23iefix&12102901345360845545") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1039/4154/t/11/assets/singleproductwebicons-regular.woff?12102901345360845545") format("woff"), url("//cdn.shopify.com/s/files/1/1039/4154/t/11/assets/singleproductwebicons-regular.ttf?12102901345360845545") format("truetype"), url("//cdn.shopify.com/s/files/1/1039/4154/t/11/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?12102901345360845545") format("svg");
  font-weight: normal;
  font-style: normal
}

body {
  font-family: BrandonText-Medium;
  font-size: 17px;
}

h2, h3 {
  font-family: BrandonText-Black;
  text-align: center;
  color: $color;
}

a {
  font-family: BrandonText-Black;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 20px;
}

.line {
  width: 50px;
  height: 3px;
  background: $color;
  margin: auto;
  margin-top: 16px;
}

.big-bg {
  position: relative;
  padding: 0;
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    img {
      width: 300px;
      margin: 40px 0 0 40px;
    }
  }

  .text {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 35px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
}

#st-trigger-effects {
  .collapsed {
    position: absolute;
    background: none;
    right: 0px;
    z-index: 1000;
    span {
      color: black;
      border: 1px solid;
    }
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: inherit;
  }
}

.visible-mobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .big-bg {
    .logo {
      text-align: center;
      img {
        width: 200px;
        margin: 40px 0 0 0;
      }
    }
    .text {
      font-size: 15px;
      padding: 15px;
    }
  }
  .visible-pc {
    display: none;
  }
  .visible-mobile {
    display: inherit;
  }
}

.thanks {
  background: url("../images/12.png") no-repeat center;
  background-size: cover;
  text-align: left;
  padding-bottom: 40px;

  h2 {
    text-align: left;
    font-size: 36px;
  }

  .logo {
    margin: 50px 0 40px 0px;
    width: 290px;
  }
  .team {
    font-family: BrandonText-Black;
  }
}

@media screen and (max-width: 767px) {
  .thanks {
    background: none;
  }
}

.introduce_more {
  background: black;
  color: white;
  padding: 40px;
}

.how-it-work {
  h2 {
    margin-top: 60px;
  }
  .line {
    margin-bottom: 65px;
  }
  .points {
    margin-top: 60px;
  }
  .round {
    width: 76px;
    height: 76px;
    border: 4px solid $color;
    color: $color;
    font-size: 40px;
    border-radius: 50%;
    display: block;
    padding: 5px 0 0 24px;
    margin: auto;
    font-family: BrandonText-Bold;
  }
  p {

    text-align: center;
    margin: 25px 0 0 0;
  }
  .get-started {
    margin: 89px 0 83px;
  }
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 35px;
  }
  .how-it-work {
    .round {
      margin-top: 40px;
    }
    .points {
      margin-top: 0px;
    }
    .line {
      margin-bottom: 0px;
    }
  }
}

a._button {
  font-size: 30px;
  color: white;
  background: black;
  padding: 10px 56px;
}

.consultants {
  background: black;
  border-top: $line-height-pc solid $color;
  border-bottom: $line-height-pc solid $color;
  padding-bottom: 70px;

  .line {
    margin-bottom: 80px;
  }
  h2 {
    margin-top: 60px;
  }
  p {
    margin: 25px 0 10px 0;
    color: white;
  }
  a {
    color: $color;
    text-decoration: underline;
  }
}

@media screen and (max-width: 991px) {
  .consultants {
    border-top: $line-height-mobile solid $color;
    border-bottom: $line-height-mobile solid $color;
    .line {
      margin-bottom: 0;
    }
    .img-circle {
      margin-top: 55px;
    }
  }
}

.private, .workshops {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: $line-height-pc solid $color;

  .line {
    margin-bottom: 43px;
  }
  .learn-more {
    margin: 53px 0 0 0;
  }
}

.private {
  padding-top: 80px;
  padding-bottom: 70px;
  background-image: url("../images/10.png");
}

@media screen and (max-width: 991px) {
  .private {
    padding-top: 10px;
  }
  .private, .workshops {
    border-bottom: $line-height-mobile solid $color;
  }
}

.workshops {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/11.png");
  p {
    color: white;
  }
  a.button {
    color: white;
    background: $color;
  }
}

.follow-us {
  padding: 40px 0 60px;
  .line {
    margin-bottom: 70px;
  }
  .images {
    margin-bottom: 65px;
    img {
      margin: 30px;
    }
  }
}

@media screen and (max-width: 991px) {
  .follow-us .line {
    margin-bottom: 20px;
  }
}

.survey {
  border-top: $line-height-pc solid $color;
  h2 {
    margin: 40px 0 10px 0;
  }
  form {
  }
  ._submit {
    padding: 40px 0 60px 0;
  }
  .form-group {
    margin-top: 30px;
  }
  label {
    margin-bottom: 15px;
  }
  .error {
    color: red;
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .survey {
    border-top: $line-height-mobile solid $color;
  }
}

.footer {
  background: black;
  padding-top: 60px;
  padding-bottom: 50px;
  color: white;
  margin-top: 50px;
  .icon {
    font-family: 'Single Product Webicons Regular';
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 16px;
    color: white;
  }
  .icon-facebook:before {
    content: "\E202"
  }
  .icon-tweet:before {
    content: '\E201'
  }
  .icon-pin:before {
    content: '\E203'
  }
  .icon-plus:before {
    content: '\E205'
  }
  .icon-fancy:before {
    content: '\E206'
  }
  .links {
    color: $color;
    a {
      color: $color;
    }
    span {
      padding: 0 50px;
    }
  }
  .images {
    padding: 40px 0 30px 0;
    .middle {
      margin: 0 50px 0 50px;
    }
    img {
      width: 50px;
    }
  }
  p {
    font-family: BrandonText-Light;
  }
}

//override bootstrap3 start

blockquote {
  border-left: none;
}

//override bootstrap3 end
