<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <title>Fleekimage | Fleek - Get on point.</title>



  <meta name="description" content="The image consultation agency." />


  <link rel="canonical" href="http://fleekimage.myshopify.com/" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!--content_for_header start-->
  <script>
    //<![CDATA[
    var Shopify = Shopify || {};
    Shopify.shop = "fleekimage.myshopify.com";
    Shopify.theme = {"name":"StartupInDevelepment","id":61247621,"theme_store_id":null,"role":"main"};

    //]]>
  </script>



  <script id="__st">
    //<![CDATA[
    var __st={"a":10394154,"offset":-18000,"reqid":"ec7c08df-23c2-47cd-b32e-1efed62a922e","pageurl":"fleekimage.myshopify.com\/","u":"a9d5af73a920","p":"home"};
    //]]>
  </script>
  <script>
    //<![CDATA[
    (function() {
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
      s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();

    //]]>
  </script>

  <!--content_for_header end-->



  <meta property="og:site_name" content="Fleekimage" />
  <meta property="og:url" content="http://fleekimage.myshopify.com/" />
  <meta property="og:title" content="Fleek - Get on point." />

  <meta property="og:description" content="The image consultation agency." />


  <meta property="og:type" content="website" />

  <meta property="og:image" content="http://cdn.shopify.com/s/files/1/1039/4154/t/13/assets/logo.png?2380209871920425268" />
  <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/1039/4154/t/13/assets/logo.png?2380209871920425268" />





  <meta name="twitter:card" content="summary">




  <meta property="twitter:description" content="The image consultation agency." />


  <meta name="twitter:url" content="http://fleekimage.myshopify.com/">


  <meta name="twitter:title" content="Fleekimage" />

  <meta name="twitter:image" content="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/logo.png?2380209871920425268" />




  <!-- Theme CSS -->
  <link href="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/theme.scss.css?2380209871920425268" rel="stylesheet" type="text/css"  media="all"  />

  <!-- Third Party JS Libraries -->
  <script src="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/modernizr-2.7.1.min.js?2380209871920425268" type="text/javascript"></script>




  <!-- Sans Serif -->














  <link href='//fonts.googleapis.com/css?family=Roboto:400italic,700italic,400,700' rel='stylesheet' type='text/css'>




  <!-- Condensed Sans Serif -->







  <!-- Geometric Sans Serif -->



  <!-- Serif -->


  <link href='//fonts.googleapis.com/css?family=PT+Serif:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
















  <!-- Slab serif -->










  <!-- Store object -->
  <script type="text/javascript">
    Theme = {}
    Theme.version = "5.3.0";
    Theme.logo = true;
    Theme.currency = 'SGD';
    shopCurrency = 'SGD'; /* used by shipping calculator */
    Theme.moneyFormat = "${{amount}}";
    Theme.moneyFormatCurrency = "${{amount}} SGD";

    Theme.disableAjax = false;

    Theme.addToCartText = "Add to cart";



    Theme.addToCartText = "Buy Now";



    Theme.soldOutText = "Sold out";
    Theme.unavailableText = "Unavailable";
    Theme.processingText = "Processing...";
    Theme.setQuantityText = "Please enter a value for quantity.";

    Theme.notAvailableText = "Not available";
    Theme.stockLevelText = "Sorry, we only have {{ stock_count }} in stock.";
    Theme.okayText = "Okay";
    Theme.shippingCalcErrorMessage = "Error: zip / postal code {{ error_message }}";
    Theme.shippingCalcMultiRates = "There are {{ number_of_rates }} shipping rates available for {{ address }}, starting at {{ rate }}.";
    Theme.shippingCalcOneRate = "There is one shipping rate available for {{ address }}.";
    Theme.shippingCalcNoRates = "We do not ship to this destination.";
    Theme.shippingCalcRateValues = "{{ rate_title }} at {{ rate }}";








    Theme.imageZoom = true;















    Theme.showInstagramWidget = true;
    Theme.instagramAccessToken = '2257133951.1677ed0.77bbc5aac82147538094b9cc1e7ae8be';
    Theme.showInstagramTag = false;
    Theme.instagramTag = '';

  </script>


  <style type="text/css">











    .add-to-cart-loader, .home-slideshow-loader, .product-slideshow-loader {
      border-left:   3px solid rgba(0, 0, 0, .15);
      border-right:  3px solid rgba(0, 0, 0, .15);
      border-bottom: 3px solid rgba(0, 0, 0, .15);
      border-top:    3px solid rgba(0, 0, 0, .8);
    }











    .header-drawer h1, .header-drawer .navigation .primary ul {
      border-color: #ffffff;
      border-color: rgba(255, 255, 255, .3);
    }











    .copyright, .payment-options {
      color: rgba(152, 137, 128, .5);
    }
    .spread-the-word .footer-share-icon {
      background: rgba(152, 137, 128, .7);
    }
    .spread-the-word .footer-share-icon:hover {
      background: rgba(152, 137, 128, .9);
    }


  </style>

  <link rel="stylesheet" media="screen" href="http://fleekimage.com/fleek/app/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" media="screen" href="http://fleekimage.com/fleek/app/styles/main.css" />
</head>

<body class=" template-index navigation-drawer " ng-app="surveyApp" ng-controller="SurveyController as ctrl">















<div class="main-header-wrapper collapsed-navigation full-bleed-slideshow header-bleed-dark-colors">
  <header class="main-header" role="banner">

    <div class="branding">

      <a class="logo " href="/">




        <img class="logo-regular" alt="Fleekimage" src="http://cdn.shopify.com/s/files/1/1039/4154/t/13/assets/logo.png?11351258005819890590" data-regular="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/logo.png?2380209871920425268">


      </a>

    </div>


    <div class="header-search-wrapper">
      <form class="header-search-form" action="/search" method="get">
        <input class="header-search-input" name="q" type="text" placeholder="Enter search terms" value="">
      </form>
    </div>


    <div class="header-tools">


      <div class="header-actions">





        <span class="drawer-toggle"></span>
      </div>
    </div>
  </header>
</div>



<div class="header-drawer">
  <h1><a href="/">Fleekimage</a></h1>

  <span class="drawer-toggle icon">&#57349;</span>

  <nav class="navigation ">
    <ul class="primary">



















      <li class="">
        <a class="main-nav-item" href="http://www.fleekimage.com">Home</a>


      </li>
















      <li class="">
        <a class="main-nav-item" href="/collections/services">Services</a>


      </li>
















      <li class="">
        <a class="main-nav-item" href="/collections/workshops">Workshops</a>


      </li>
















      <li class="">
        <a class="main-nav-item" href="/pages/about-us">About us</a>


      </li>
















      <li class="">
        <a class="main-nav-item" href="/pages/contact-us">Contact us</a>


      </li>



    </ul>
  </nav>



</div>


<main class="main-content " role="main">







  <div class="container-fluid big-bg" data-ng-hide="ctrl.saved">
    <img src="images/09.png" class="visible-pc" style="width: 100%;"/>
    <img src="images/19.png" class="visible-mobile" style="width: 100%;"/>


    <div class="text">
      <p>
        Your personality is often a strong indicator of what type of style suits you best.Defining your style type gives
        you a start to begin!
      </p>

      <p>
        So let’s uncover and know yourself better to determine what is appropriate for your personal style.
      </p>
    </div>
  </div>

  <div class="container-fluid thanks ng-hide" data-ng-show="ctrl.saved">
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5">

        <h2>Thank you
          for your submission!</h2>

        <p>
          <br/>You’re one step away from a brand new you!
          <br/>
          <br/>Our Experts will get back to you with our recommendations.
          <br/>
          <br/>xoxo
          <br/>
          <br/><span class="team">The Fleek Team</span>
        </p>
      </div>
    </div>
  </div>


  <div class="container-fluid survey" data-ng-show="!ctrl.saved">
    <h2>Start now!</h2>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form name="form">
          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&(form.name.$invalid||form.email.$invalid)" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 1. Let us know how we can contact you :</label>

            <div class="row" style="margin-bottom: 15px;">
              <div class="col-md-1">Name</div>
              <div class="col-md-11"><input style="height: 34px;" type="text" required ng-model="ctrl.survey.name" name="name"
                                            class="form-control"></div>
            </div>

            <div class="row">
              <div class="col-md-1">Email</div>
              <div class="col-md-11"><input style="height: 34px;" type="email" required ng-model="ctrl.survey.email" name="email"
                                            class="form-control"></div>
            </div>

          </div>
          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q2.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 2. Describe yourself in one word..</label>
            <select class="form-control" data-ng-model="ctrl.survey.q2Selected" name="q2" required
                    ng-options="h.value for h in ctrl.q2"></select>
          </div>

          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q3.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 3. When you look in a mirror, you..</label>
            <select class="form-control" data-ng-model="ctrl.survey.q3Selected" name="q3" required
                    ng-options="h.value for h in ctrl.q3"></select>
          </div>

          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q4.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 4. What do you want to improve/change?</label>
            <select class="form-control" data-ng-model="ctrl.survey.q4Selected" name="q4" required
                    ng-options="h.value for h in ctrl.q4"></select>
          </div>

          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q5.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 5. How would your friends describe you?</label>
            <select class="form-control" data-ng-model="ctrl.survey.q5Selected" name="q5" required
                    ng-options="h.value for h in ctrl.q5"></select>
          </div>

          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q6.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 6. When you walk into a crowded room, what would you prefer to do?</label>
            <select class="form-control" data-ng-model="ctrl.survey.q6Selected" name="q6" required
                    ng-options="h.value for h in ctrl.q6"></select>
          </div>

          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q7.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 7. Do you wear men’s fashion or women’s fashion?</label>
            <select class="form-control" data-ng-model="ctrl.survey.q7Selected" name="q7" required
                    ng-options="h.value for h in ctrl.q7"></select>
          </div>

          <div class="form-group">
            <label data-ng-show="ctrl.clicked&&form.q8.$invalid" class="error ng-hide"><span
              class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
            <label>* 8. If we opened your closet, what color palette would we mostly see?</label>
            <select class="form-control" data-ng-model="ctrl.survey.q8Selected" name="q8" required
                    ng-options="h.value for h in ctrl.q8"></select>
          </div>

          <div class="form-group">
            <label>9. If someone gave you $500 for clothes, how would you use it?</label>
            <select class="form-control" data-ng-model="ctrl.survey.q9Selected" name="q9"
                    ng-options="h.value for h in ctrl.q9"></select>
          </div>

          <div class="text-center _submit" style="padding: 40px 0 60px 0;">
            <a class="_button" href="javascript:void(0)" ng-click="ctrl.submit()"> Submit</a>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>









































</main>

<div class="container-fluid footer text-center">
  <div class="links">
    <a href="http://fleekimage.myshopify.com/">Home</a> <span>|</span>
    <a href="http://fleekimage.myshopify.com/collections/services">Services</a>
    <span class="visible-pc">|</span>
    <span class="visible-mobile"><br/></span>
    <a href="http://fleekimage.myshopify.com/pages/about-us">About Us </a> <span>|</span>
    <a href="http://fleekimage.myshopify.com/pages/contact-us">Contact Us </a>
  </div>
  <div class="images">
    <a target="_blank" class="icon icon-tweet" href="http://twitter.com/share?url=http://fleekimage.myshopify.com"></a>
    <a target="_blank" class="icon icon-facebook" href="http://www.facebook.com/sharer.php?u=http://fleekimage.myshopify.com"></a>
    <a target="_blank" class="icon icon-pin" href="http://pinterest.com/pin/create/button/?url=http://fleekimage.myshopify.com&media=//cdn.shopify.com/s/files/1/1039/4154/t/11/assets/logo.png?11168060110074707608&description=Fleekimage"></a>
    <a target="_blank" class="icon icon-plus" href="http://plus.google.com/share?url=http://fleekimage.myshopify.com"></a>
    <a target="_blank" class="icon icon-fancy" href="http://www.thefancy.com/fancyit?ItemURL=http://fleekimage.myshopify.com&Title=Fleekimage"></a>
  </div>
  <p>
    Copywright ® Fleek Image.
    All rights reserved.
  </p>
</div>


<!-- Scripts -->
<script src="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/jquery-1.10.0.min.js?2380209871920425268" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/assets/themes_support/api.jquery-65b13aff633715de8d7b9f48664d9925f95e7faa1ae3f1379b9fb55fb52bf15a.js" type="text/javascript"></script>







<script src="//cdn.shopify.com/s/assets/themes_support/option_selection-7a487a7595749542dd9ff029ae0ed829cbd24331f266f385c0f1bed13585abc8.js" type="text/javascript"></script>

<script src="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/plugins.js?2380209871920425268" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/1039/4154/t/13/assets/site.js?2380209871920425268" type="text/javascript"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="scripts/survey.js"></script>
</body>
</html>




