<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Fleek</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="bower_components/SidebarTransitions/css/components-right.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="shortcut icon" href="images/favicon.ico"/>
</head>
<body ng-app="surveyApp" ng-controller="SurveyController as ctrl">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div id="st-container" class="st-container">
  <nav class="st-menu st-effect-2">
    <h2>Fleekimage</h2>
    <ul>
      <li><a href="http://fleekimage.myshopify.com/">Home</a></li>
      <li><a href="http://fleekimage.myshopify.com/collections/services">Services</a></li>
      <li><a href="http://fleekimage.myshopify.com/collections/workshops">Workshops</a></li>
      <li><a href="http://fleekimage.myshopify.com/pages/about-us">About Us </a></li>
      <li><a href="http://fleekimage.myshopify.com/pages/contact-us">Contact Us </a></li>
    </ul>
  </nav>
  <div class="st-pusher">
    <div class="st-content">
      <div class="st-content-inner">
        <div class="main clearfix">
          <div id="st-trigger-effects" class="column">
            <button data-effect="st-effect-2" class="navbar-toggle collapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Add your site or application content here -->

            <div class="container-fluid big-bg" data-ng-hide="ctrl.saved">
              <img src="images/21.png" class="visible-pc" style="width: 100%;"/>
              <img src="images/22.png" class="visible-mobile" style="width: 100%;"/>

              <div class="logo">
                <img src="images/08.png" alt=""/>
              </div>
              <div class="text">
                <p>
                  Our personality is often a strong indicator of what type of style suits you best. Defining your style type gives you a start to begin!
                </p>

                <p>
                  So let’s uncover and know yourself better to determine what is appropriate for your personal style.
                </p>
              </div>
            </div>


            <div class="container-fluid thanks ng-hide" data-ng-show="ctrl.saved">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <a href="http://fleekimage.com/"><img src="images/08.png" class="logo" alt=""/></a>

                  <h2>Thank you
                    for your submission!</h2>

                  <p>
                    <br/>You’re one step away from a brand new you!
                    <br/>
                    <br/>Our Experts will get back to you with our recommendations.
                    <br/>
                    <br/>xoxo
                    <br/>
                    <br/><span class="team">The Fleek Team</span>
                  </p>
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>


            <div class="container-fluid survey" data-ng-show="!ctrl.saved">
              <h2>Start now!</h2>

              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <form name="form">
                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&(form.name.$invalid||form.email.$invalid||form.mobile.$invalid)" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>* 1. Let us know how we can contact you :</label>

                      <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-1">Name</div>
                        <div class="col-md-11"><input type="text" required ng-model="ctrl.survey.name" name="name"
                                                      class="form-control"></div>
                      </div>

                      <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-1">Mobile</div>
                        <div class="col-md-11"><input type="text" required ng-model="ctrl.survey.mobile" name="mobile"
                                                      class="form-control"></div>
                      </div>

                      <div class="row">
                        <div class="col-md-1">Email</div>
                        <div class="col-md-11"><input type="email" required ng-model="ctrl.survey.email" name="email"
                                                      class="form-control"></div>
                      </div>

                    </div>
                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q2.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>2. Describe yourself in one word..</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q2Selected" name="q2"
                              ng-options="h.value for h in ctrl.q2"></select>
                    </div>

                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q3.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>3. When you look in a mirror, you..</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q3Selected" name="q3"
                              ng-options="h.value for h in ctrl.q3"></select>
                    </div>

                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q4.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>4. What do you want to improve/change?</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q4Selected" name="q4"
                              ng-options="h.value for h in ctrl.q4"></select>
                    </div>

                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q5.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>5. How would your friends describe you?</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q5Selected" name="q5"
                              ng-options="h.value for h in ctrl.q5"></select>
                    </div>

                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q6.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>6. When you walk into a crowded room, what would you prefer to do?</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q6Selected" name="q6"
                              ng-options="h.value for h in ctrl.q6"></select>
                    </div>

                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q7.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>7. Do you wear men’s fashion or women’s fashion?</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q7Selected" name="q7"
                              ng-options="h.value for h in ctrl.q7"></select>
                    </div>

                    <div class="form-group">
                      <label data-ng-show="ctrl.clicked&&form.q8.$invalid" class="error ng-hide"><span
                        class="glyphicon glyphicon-remove-circle"></span> This question requires an answer.</label>
                      <label>8. If we opened your closet, what color palette would we mostly see?</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q8Selected" name="q8"
                              ng-options="h.value for h in ctrl.q8"></select>
                    </div>

                    <div class="form-group">
                      <label>9. If someone gave you $500 for clothes, how would you use it?</label>
                      <select class="form-control" data-ng-model="ctrl.survey.q9Selected" name="q9"
                              ng-options="h.value for h in ctrl.q9"></select>
                    </div>

                    <div class="text-center _submit">
                      <a class="_button" href="javascript:void(0)" ng-click="ctrl.submit()"> Submit</a>
                    </div>
                  </form>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>

            <ng-include src="'footer.html'" data-ng-show="!ctrl.saved"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->

<script src="bower_components/SidebarTransitions/js/modernizr.custom.js"></script>
<script src="bower_components/SidebarTransitions/js/classie.js"></script>
<script src="bower_components/SidebarTransitions/js/sidebarEffects.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/survey.js"></script>
<!-- endbuild -->
</body>
</html>
