<div class="container-fluid follow-us text-center">
  <h2>Get on point</h2>
  <div class="line"></div>
  <div class="instagram-photos"></div>
  <a class="_button" href="https://www.instagram.com/fleekimage/">Follow us</a>
</div>
