<div class="container-fluid big-bg">
  <img src="http://zengjunyong.github.io/fleek/app/images/23.png" style="width: 100%;"/>
</div>

<div class="container-fluid introduce_more">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4 text-center">
      <img src="http://zengjunyong.github.io/fleek/app/images/20.png" alt=""/>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 0 0;">
      <p style="font-size: 25px;">Create the best first impression.</p>
      <p style="color: #ada054;"> Personal Branding  <br/> Image Consulting and Fashion   </p>
    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>

<div class="container how-it-work">
  <h2>How It Works</h2>

  <div class="line"></div>
  <div class="row points">
    <div class="col-md-4">
      <span class="round">1</span>

      <h3>Create Your Fleek Profile </h3>

      <p>
        Let us get to know you better.
      </p>
    </div>
    <div class="col-md-4">
      <span class="round">2</span>

      <h3>Get Your Profile Verified</h3>

      <p>
        Our Fleek personnel will get in touch with you.
      </p>
    </div>
    <div class="col-md-4">
      <span class="round">3</span>

      <h3>Meet Our Consultants</h3>

      <p>
        You will receive a personalised consultation with our experts once we have established what you need.
      </p>
    </div>
  </div>
  <div class="get-started text-center">
    <a class="_button" target="_blank" href="http://survey.fleekimage.com/home/">Get started</a>
  </div>
</div>

<div class="container-fluid consultants">
  <h2>Meet Our Image Consultants</h2>

  <div class="line"></div>
  <div class="row text-center">
    <div class="col-md-3">
      <img src="http://zengjunyong.github.io/fleek/app/images/02.png" class="img-circle"/>

      <p>
        Phoebe Tan <br/> Image & Etiquette
      </p>
      <a href="http://fleekimage.myshopify.com/pages/miss-phoebe-tan">Click to read more</a>
    </div>
    <div class="col-md-3">
      <img src="http://zengjunyong.github.io/fleek/app/images/03.png" class="img-circle"/>

      <p>
        Steph Sim  <br/> Date Coach

      </p>
      <a href="http://fleekimage.myshopify.com/pages/steph-sim">Click to read more</a>
    </div>
    <div class="col-md-3">
      <img src="http://zengjunyong.github.io/fleek/app/images/01.jpg" class="img-circle"/>

      <p>
        Violet Foo
        <br/>
        Image & Style
      </p>
      <a href="http://fleekimage.myshopify.com/pages/violet-foo">Click to read more</a>
    </div>
    <div class="col-md-3">
      <img src="http://zengjunyong.github.io/fleek/app/images/27.jpg" class="img-circle"/>

      <p>
        Charlene Koh
        <br/>
        Co Founder & Image Stylist
      </p>
      <a href="http://fleekimage.com/pages/charlene-koh">Click to read more</a>
    </div>
  </div>


</div>


<div class="container-fluid private text-center">
  <h2>Private Consultations</h2>

  <div class="line"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p>
        Not sure where to start? Choose from our menu of services.
      </p>

      <p>
        We provide personalised one to one sessions with our experts to help you discover what works best for you to make the perfect first impression.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="learn-more text-center">
    <a class="_button" href="http://fleekimage.myshopify.com/collections/menu-of-services">Learn more</a>
  </div>
</div>


<div class="container-fluid workshops text-center">
  <h2>Workshops</h2>

  <div class="line"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p>
        We organize engaging and dynamic workshops.  Learn what works for you and your personal style.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="learn-more text-center">
    <a class="_button" href="http://fleekimage.myshopify.com/collections/workshops">Learn more</a>
  </div>
</div>
