<div class="container-fluid big-bg">
  <img src="http://fleekimage.com/fleek/app/images/09.png" class="visible-pc" style="width: 100%;"/>
  <img src="http://fleekimage.com/fleek/app/images/19.png" class="visible-mobile" style="width: 100%;"/>
</div>

<div class="container-fluid introduce_more">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4 text-center">
      <img src="http://fleekimage.com/fleek/app/images/20.png" alt=""/>
    </div>
    <div class="col-md-4 text-center" style="padding: 30px 0 0 0;">
      <p style="font-size: 25px;">Create the best first impression.</p>
      <p style="color: #ada054">♦ Personal Brand Coaching ♦ <br/>♦ Image Consulting and Fashion ♦  </p>
    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>

<div class="container how-it-work">
  <h2>How it works</h2>

  <div class="line"></div>
  <div class="row points">
    <div class="col-md-4">
      <span class="round">1</span>

      <h3>Take a 3-minute quiz</h3>

      <p>
        Fill up a short survey to let us get to know you better.
      </p>
    </div>
    <div class="col-md-4">
      <span class="round">2</span>

      <h3>Meet your image consultant</h3>

      <p>
        Our experts will receive your information and get back in touch with you.
      </p>
    </div>
    <div class="col-md-4">
      <span class="round">3</span>

      <h3>One-to-One Consultations</h3>

      <p>
        Once we have established what you need; we will proceed to hold a private one-to-one consultation
        with you.
      </p>
    </div>
  </div>
  <div class="get-started text-center">
    <a class="_button" target="_blank" href="http://fleekimage.com/fleek/app/survey.html">Get started</a>
  </div>
</div>

<div class="container-fluid consultants">
  <h2>Meet our image consultants</h2>

  <div class="line"></div>
  <div class="row text-center">
    <div class="col-md-4">
      <img src="http://fleekimage.com/fleek/app/images/02.png" class="img-circle"/>

      <p>
        Phoebe Tan <br/> Image & Etiquette
      </p>
      <a href="http://fleekimage.myshopify.com/pages/miss-phoebe-tan">Click to read more</a>
    </div>
    <div class="col-md-4">
      <img src="http://fleekimage.com/fleek/app/images/03.png" class="img-circle"/>

      <p>
        Steph Sim  <br/>Image & Deportment

      </p>
      <a href="http://fleekimage.myshopify.com/pages/steph-sim">Click to read more</a>
    </div>
    <div class="col-md-4">
      <img src="http://fleekimage.com/fleek/app/images/01.jpg" class="img-circle"/>

      <p>
        Violet Foo
        <br/>
        Image & Style
      </p>
      <a href="http://fleekimage.myshopify.com/pages/violet-foo">Click to read more</a>
    </div>
  </div>


</div>


<div class="container-fluid private text-center">
  <h2>Private Consultations</h2>

  <div class="line"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p>
        Not sure where to start? Choose from our menu of services.
      </p>

      <p>
        We provide personalised one to one sessions with our experts to help you ensure your appearance
        convey who you
        are
        and how you want to be seen.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="learn-more text-center">
    <a class="_button" href="http://fleekimage.myshopify.com/collections/menu-of-services">Learn more</a>
  </div>
</div>


<div class="container-fluid workshops text-center">
  <h2>Workshops</h2>

  <div class="line"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p>
        We also regularly organize lively and dynamic workshops. Learn what works for you and your body
        type. When
        you
        look good, you feel good.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="learn-more text-center">
    <a class="_button" href="http://fleekimage.myshopify.com/collections/workshops">Learn more</a>
  </div>
</div>
