<div class="container-fluid big-bg">
  <img src="http://fleekimage.com/fleek/app/images/09.png" class="visible-pc" style="width: 100%;"/>
  <img src="http://fleekimage.com/fleek/app/images/19.png" class="visible-mobile" style="width: 100%;"/>

  <div class="text">
    <p>
      Fleek Image is an image consultant agency.
    </p>

    <p>
      We’re committed to help individuals to create the best first impression.
    </p>
  </div>
</div>
